body {
  background-color: blue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
}

.gamezone {
  background-image: url(../images/7153625.jpg);
  background-size: 75vw;
  display: flex;
  height: 48vw;
  width: 75vw;
  border-radius: 18px;
  margin: 2vw 12.5vw 15px 12.5vw;
  flex-direction: column;
}

h1 {
  margin: 150px 0px 0px 100px;
  color: #345D30
}

#start {
  position: absolute;
  top: 45vw;
  right: 15vw;
  background-color: #345D30;
  border: none;
  color: #FFD486;
  padding: 15px 35px;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  opacity: .6;
  transition: 0.5s;
}

#start:hover {opacity: 1}

ul {
  margin-left: 100px;
  color: #345D30;
  font-size: 20px
}
